/* Global */
::before,
::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'sf pro display', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.container {
    max-width: 200rem;
    margin: 0 auto;
    padding: 0;
}

/* header */

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(1rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 --1rem;
    padding: 0;
}


.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    /* transition: opacity .5s; */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    white-space: nowrap;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 1rem 25rem; /* Adjust the margin as needed */
    padding: 5px;
}

.nav-item:hover {
    background-color: #4e484e; /* Change to desired highlight color */
}

.nav-link:hover {
    opacity: .7;
}

/* main section */
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title-heading {
    font-size: 3rem;
    color: rgb(255, 255, 255) /* Black color */
}

.title-sub-heading {
    font-size: 1.8rem;
    color: #888;
    margin-bottom: 2rem;
}

.quote {
    font-size: 1.6rem;
    color: #888;
}

.cta {
    text-align: center;
    margin-top: rem;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    font-size: 15px;
}

.cta-link {
    font-size: 1.8rem;
    color: #0070c9;
    margin-right: 1rem;
}

.cta-link:last-child {
    margin-right: 0;
}

/* EXAMPLE 1 SECTION */

.example-1 {
    margin-bottom: 2rem; /* Adjust as needed */
}

.conclusion1 {
    margin-top: 10rem; /* Adjust as needed */
}

.container1 {
    margin-top: 10rem;
}

.content-wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center; /* Adjust alignment */
}

.conclusion .content-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conclusion .image-wrapper1 {
    display: none;
}

.image-wrapper1 {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.image-wrapper1 img {
    width: 100%;
    height: auto;
    display: block;
}
.title-dark1 {
    color: #000;
    margin-top: 0; /* Adjust margin */
    margin-bottom: 0; /* Adjust margin */
}

.title-heading1 {
    font-size: 2rem;
    color: black;
    margin-top: 0; /* Adjust margin */
}

.explanation-1 {
    font-size: 1.5rem;
    color: #888;
    text-align: justify;
    line-height: 1.5;
    margin-top: 1.5rem;
    padding: 2rem;
    letter-spacing: 0.1rem;
}

.description-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Adjust alignment */
}

/* Highlighted change: Added hyperlink style for Example 1 */
.example-1-link {
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
    margin-top: 1rem; /* Adjust spacing */
}

.example-1-link:hover {
    text-decoration: underline;
}


/* EXAMPLE 2 */
.example-2 {
    margin-bottom: 4rem; /* Adjust as needed */
}

.conclusion2 {
    margin-top: 4rem; /* Adjust as needed */
}

.container2 {
    margin-top: 10rem;
}
.content-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center; /* Adjust alignment */
}

.conclusion .content-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conclusion .image-wrapper2 {
    display: none;
}

.image-wrapper2 {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    order: 2; /* Change the order to display the image on the right */
}

.image-wrapper2 img {
    width: 100%;
    height: auto;
    display: block;
}
.title-dark2 {
    color: #000;
    margin-top: 0; /* Adjust margin */
    margin-bottom: 0; /* Adjust margin */
}

.title-heading2 {
    font-size: 2rem;
    color: black;
    margin-top: 0; /* Adjust margin */
}

.explanation-2 {
    font-size: 1.5rem;
    color: #888;
    text-align: justify;
    line-height: 1.5;
    margin-top: 1.5rem;
    padding: 2rem;
}

.description-wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Adjust alignment */
    order: 1; /* Change the order to display the text on the left */
}

/* Highlighted change: Added hyperlink style for Example 1 */
.example-2-link {
    font-size: 1.4rem;
    color: #000;
    text-decoration: none;
    margin-top: 1rem; /* Adjust spacing */
}

.example-2-link:hover {
    text-decoration: underline;
}



/* MAIN */
@media screen and (max-width: 6000px) {
    .main {
        background: url(images/hero/Header.gif);
        background-color: rgb(31, 31, 32);
        background-blend-mode: color;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 4.3rem;

        animation-name: playGif;
        animation-duration: 30s; /* Change this to adjust the duration (e.g., 10s for 10 seconds) */
        animation-iteration-count: infinite; /* This will make the GIF loop forever */
        animation-timing-function: steps(1); /* For smoother GIF animation playback */
    }

    @keyframes playGif {
        from {
            background-size: 60%; /* Initial size */
            background-position: center;
        }
    
        to {
            background-size: 110%; /* Zoomed out size */

        }
    }
}

    .example-1 {
        background: none;
        text-align: left;
    }

    .example-2 {
        background: none;
    }

    .example-3 {
        background: none;
    }

    .hero {
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .main-title-heading {
        font-size: 6rem;
        color: #ffffff;
        margin-bottom: 4rem;
    }

    .title-heading {
        font-size: 2.4rem;
        color: black;
    }

    .title-heading-h1 a {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit color from parent element */
        font-size: 18px;
        letter-spacing: 1rem;
    }
    
    .title-heading-h1 a:hover {
        text-decoration: none; /* Remove underline on hover */
        color: inherit; /* Inherit color from parent element */
    }

    .title-sub-heading {
        font-size: 1.9rem;
    }

    .cta-link:nth-child(2) {
        margin-left: 2rem;
    }

    .title-heading-watch {
        height: 4rem;
        background: url("images/hero/watch/logo_watch_medium.png");
        background-size: auto 6.2rem;
    }

@media screen and (max-width: 767px) {
    header {
        height: 4.8rem;
        transition: background .50s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container {
        padding: 0;
    }

    .example-1 {
        text-align: left;
    }

    .hero {
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title {
        padding: 3.7rem;
    }

    .title-heading {
        font-size: 2.5rem;
        color:black;
    }

    .title-sub-heading {
        font-size: 1.9rem;
    }

    .explanation-1 {
        font-size: 3.2rem;
    }

    .cta {
        text-align: center;
        margin-top: 1rem;
    }

    .cta-link {
        font-size: 1.6rem;
    }

    .nav-list-larger {
        display: none;
    }
    
}

.zoomable {
    transition: transform 0.3s ease; /* Add transition effect */
  }
  
  .zoomable:hover {
    transform: scale(1.05); /* Zoom in effect */
    cursor: pointer; /* Change cursor to indicate clickable */
  }

  .name {
    color: #47abc0;
  }